/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#0e0d0d;
    color:white;
}

/* Navbar */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:#111;
}

.nav-links a{
    margin-left:25px;
    text-decoration:none;
    color:white;
    transition:0.3s;
}

.nav-links a:hover{
    color:red;
}

/* Header */
.page-header{
    text-align:center;
    padding:60px 20px;
}

.page-header h1{
    font-size:40px;
    margin-bottom:10px;
}

/* About Section */
.about-container{
    padding:50px 80px;
}

.about-text h2{
    margin-top:30px;
    margin-bottom:10px;
}

.about-text p{
    color:#ccc;
    line-height:1.6;
}

/* Why Us */
.why-us{
    padding:50px 80px;
    text-align:center;
}

.features{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    margin-top:30px;
}

.feature-box{
    background:#1a1a1a;
    padding:30px;
    border-radius:10px;
    transition:0.3s;
}

.feature-box:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px red;
}

/* Footer */
footer{
    background:#111;
    padding:40px 80px;
    margin-top:40px;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.footer-section{
    width:30%;
}

.footer-section h3{
    margin-bottom:15px;
}

.footer-section ul{
    list-style:none;
}

.footer-section ul li{
    margin-bottom:8px;
}

.footer-section ul li a{
    text-decoration:none;
    color:white;
}

.footer-bottom{
    text-align:center;
    margin-top:25px;
    border-top:1px solid gray;
    padding-top:15px;
}

/* Responsive */
@media(max-width:768px){
    nav{
        flex-direction:column;
        gap:15px;
    }

    .about-container,
    .why-us,
    footer{
        padding:30px 20px;
    }

    .footer-section{
        width:100%;
        margin-bottom:20px;
    }
}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:40px;
    height:40px;
    object-fit:contain;
}